@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));
@custom-variant transparency-reduce (@media (prefers-reduced-transparency));

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-technology-card-background: var(--technology-card-background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  --container-8xl: 90rem;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: var(--color-primary);
}

.blue {
  --primary: oklch(0.488 0.243 264.376);
  --primary-foreground: oklch(0.97 0.014 254.604);
}

.amber {
  --primary: oklch(0.555 0.163 48.998);
  --primary-foreground: oklch(0.987 0.022 95.277);
}

.emerald {
  --primary: oklch(0.508 0.118 165.612);
  --primary-foreground: oklch(0.979 0.021 166.113);
}

.cyan {
  --primary: oklch(0.52 0.105 223.128);
  --primary-foreground: oklch(0.984 0.019 200.873);
}

.fuchsia {
  --primary: oklch(0.518 0.253 323.949);
  --primary-foreground: oklch(0.977 0.017 320.058);
}

.green {
  --primary: oklch(0.527 0.154 150.069);
  --primary-foreground: oklch(0.982 0.018 155.826);
}

.indigo {
  --primary: oklch(0.457 0.24 277.023);
  --primary-foreground: oklch(0.962 0.018 272.314);
}

.orange {
  --primary: oklch(0.553 0.195 38.402);
  --primary-foreground: oklch(0.98 0.016 73.684);
}

.sky {
  --primary: oklch(76.807% 0.14923 229.39);
  --primary-foreground: oklch(0.208 0.04 265.731);
}

.purple {
  --primary: oklch(70.254% 0.17479 301.269);
  --primary-foreground: oklch(0.208 0.04 265.731);
}

.caffeine {
  --primary: oklch(0.9247 0.0524 66.1732);
  --primary-foreground: oklch(0.2029 0.024 200.1962);
}

.yellow {
  --primary: oklch(96.085% 0.21319 112.376);
  --primary-foreground: oklch(0.2029 0.024 200.1962);
}

.red {
  --primary: oklch(58.079% 0.23834 29.223);
  --primary-foreground: oklch(100% 0.00011 271.152);
}

.teal {
  --primary: oklch(77.7% 0.152 181.912);
  --primary-foreground: oklch(0.208 0.04 265.731);
}

.dark {
  --background: oklch(0.084 0.012 255.894);
  --foreground: oklch(0.984 0.004 248.165);
  --card: oklch(0.084 0.012 255.894);
  --card-foreground: oklch(0.984 0.004 248.165);
  --popover: oklch(0.084 0.012 255.894);
  --popover-foreground: oklch(0.984 0.004 248.165);
  --secondary: oklch(0.28 0.037 259.98);
  --secondary-foreground: oklch(0.984 0.004 248.165);
  --muted: oklch(0.208 0.04 265.731);
  --muted-foreground: oklch(0.711 0.035 256.8);
  --accent: oklch(0.28 0.037 259.98);
  --accent-foreground: oklch(0.984 0.004 248.165);
  --destructive: oklch(0.396 0.133 25.713);
  --destructive-foreground: oklch(0.984 0.004 248.165);
  --border: oklch(0.28 0.037 259.98);
  --input: oklch(0.28 0.037 259.98);
  --ring: var(--color-primary);
}

.dark-neon-green {
  --primary: oklch(88.342% 0.23899 142.491);
  --primary-foreground: oklch(0.208 0.04 265.731);
}

.dark-cyan {
  --primary: oklch(78.9% 0.154 211.53);
  --primary-foreground: oklch(0.208 0.04 265.731);
}

.dark-sky {
  --primary: oklch(76.807% 0.14923 229.39);
  --primary-foreground: oklch(0.208 0.04 265.731);
}

.dark-blue {
  --primary: oklch(70.7% 0.165 254.624);
  --primary-foreground: oklch(0.208 0.04 265.731);
}

.dark-purple {
  --primary: oklch(70.254% 0.17479 301.269);
  --primary-foreground: oklch(0.208 0.04 265.731);
}

.dark-caffeine {
  --primary: oklch(0.9247 0.0524 66.1732);
  --primary-foreground: oklch(0.2029 0.024 200.1962);
}

.dark-orange {
  --primary: oklch(73.188% 0.18576 52.974);
  --primary-foreground: oklch(0.2029 0.024 200.1962);
}

.dark-yellow {
  --primary: oklch(96.085% 0.21319 112.376);
  --primary-foreground: oklch(0.2029 0.024 200.1962);
}

.dark-tomato {
  --primary: oklch(68.499% 0.1967 23.875);
  --primary-foreground: oklch(0.2029 0.024 200.1962);
}

.dark-fuchsia {
  --primary: oklch(74% 0.238 322.16);
  --primary-foreground: oklch(0.2029 0.024 200.1962);
}

.dark-indigo {
  --primary: oklch(67.3% 0.182 276.935);
  --primary-foreground: oklch(0.2029 0.024 200.1962);
}

.dark-green {
  --primary: oklch(78.58% 0.23 158.3);
  --primary-foreground: oklch(0.2029 0.024 200.1962);
}

.dark-teal {
  --primary: oklch(77.7% 0.152 181.912);
  --primary-foreground: oklch(0.208 0.04 265.731);
}

@layer base {
  * {
    @apply border-border outline-ring/50 scroll-smooth;
  }
  body {
    @apply bg-background text-foreground overflow-x-hidden;
  }
  html {
    @apply scroll-p-8 font-sans;
  }
  ::-webkit-scrollbar {
    background: var(--secondary);
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-primary);
  }
}

@utility text-balance {
  text-wrap: balance;
}
